.nav-link{
  margin-left:40px;
}
.custom-border {
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  color: black;
}


.custom-table {
  width: 100%;
  border: 1px solid #dee2e6;
  border-collapse: collapse;
  box-shadow: 0 0 0 1px #dee2e6;
}

.custom-table thead {
  background-color: #f8f9fa;
}

.custom-table th,
.custom-table td {
  border: none;
  padding: 12px;
}

/* No inner borders */
.custom-table tr:first-child th,
.custom-table tr:first-child td {
  border-top: none;
}
.custom-table tr:last-child th,
.custom-table tr:last-child td {
  border-bottom: none;
}
.custom-table tr th:first-child,
.custom-table tr td:first-child {
  border-left: none;
}
.custom-table tr th:last-child,
.custom-table tr td:last-child {
  border-right: none;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}
#SupportHero{
  background-color: rgb(56,126,209);
  color: white;
  
}
#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px ;
  
}
#SupportHero a{
  color:white;
  font-size: 18px;
  margin-right: 25px;
}
#support input{
  padding : 15px 30px;
  border: none;
  border-radius: 10px;
  width: 100%;
  font-size: 20px;

}

